@charset "utf-8";

/* Typo */
$family-sans-serif: 'Work Sans', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-heading: 'Avenir LT Std', "Helvetica Neue", "Helvetica", "Arial", sans-serif;

/* Colors */
$primary: #44C2DE;
$info: #E07223;

/* utilities */
@import "~bulma/sass/utilities/_all.sass";

$link: $grey-dark;

/* Base */
@import "~bulma/sass/base/_all.sass";
/* Grid */
@import "~bulma/sass/grid/columns.sass";
/* Elements */
// @import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/tag.sass";
/* Components */
@import "~bulma/sass/components/list.sass";
@import "~bulma/sass/components/navbar.sass";
/* Layouts */
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/layout/footer.sass";


/* Custom */
@import "./style.scss";
