svg {
  max-width: 100%;
  height: auto;
}

.title,
.subtitle {
  font-family: $family-heading;
  font-weight: 200;
}

a:not(.button):not(.navbar-item) {
  box-shadow: inset 0 -0.2rem 0 rgba($primary, 0.2);
  transition: box-shadow 72ms linear;

  &:hover {
    box-shadow: inset 0 -0.2rem 0 rgba($primary, 0.8);
    transition: box-shadow 72ms linear;
  }
}

.section-title {
  font-weight: 300;
  margin: 2rem 0;
}

.pretitle {
  font-weight: 700;
  text-transform: uppercase;

  & + .title {
    margin-top: 0;
  }
}

.section-landing {
  padding: 6rem 1.5rem;

  .title {
    strong {
      font-weight: 900;
    }
  }
}

.section-skills {
  .skills .skill {
    padding: 2rem 0;

    .title {
      font-weight: 900;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      text-align: right;

      .tags {
        justify-content: flex-end;
      }
    }

    svg {
      min-height: 300px;
    }
  }
}
